<style>
  .container { width: 800px; font-family: Arial, Helvetica, sans-serif; display:
  flex; align-items: center; flex-direction: column; } span { margin: 10px; }
</style>

<div class='container'>
  <img src='https://i.imgur.com/oUAKMC5.png' alt='' />
  <span>Oi, {{name}}</span>
  <br />

  <span>Você solicitou uma alteração de senha.</span>
  <span>
    Para realizar a alteração, clique no link
    <a href={{link}}>{{link}}</a>
  </span>

  <span>
    Caso não tenha solicitado a alteração da senha, basta ignorar este e-mail
  </span>

  <span>Obrigado!</span>

  <h3>Equipe | <strong>Renxt</strong></h3>
</div>